/* 
blue - #0534B8 
orange - #FA6B02
yellow - #FBCE01
dark - #202423
grey - #838377
*/

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.homepage{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8rem;
  width: 100%;
  height: calc(100vh - 8rem);
  background-color: #838377;
}
.homepageContainer {
  display: flex;
  flex-direction: row;
  width: 92%;
}
.homepageLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.homepageRight{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleBrandContainer{
  display: block;
  position: relative;
  height: 40rem;
  width: 40rem;
}
.homepageText{
  font-family: "aktiv-grotesk-extended",sans-serif;
  color: white;
  display: block;
}
.homepageText h1{
  font-size: 50px;
  line-height: 50px;
  font-weight: 800!important;
  text-transform: uppercase;
}
.homepageText p{
  font-size: 16px;
}




@media (max-width: 600px) {
  .homepage{
    top: 60px;
  height: calc(100vh-60px);

  }
  .homepageContainer{
    display: flex;
    flex-direction: column;
  }
  .homepageLeft{
    width: 100%;
    justify-content: flex-start;
  }
  .homepageRight{
    width: 100%;
    justify-content: flex-start;
    height: fit-content;
    margin-bottom: 10px;
  }
  .circleBrandContainer{
    height: 55vw;
    width: 55%;
    margin-top: 20px;
  }
  .homepageText{
    width: 100%;
  }
  .homepageText h1{
    font-size: 28px;
    line-height: 28px;
    
  }
  .homepageText p{
    font-size: 14px;
    line-height: 14px;
    margin: 5px 0;
  }

}
