.socials{
    position: fixed;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0534B8;
    z-index: 300;
  }
  .socials a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons{
    margin: 0 10px;
    color: white;
  }
  .socials a:hover .icons{
    color: #838377;
  }

  @media (max-width: 600px) {
    .socials{
        position: absolute;
        bottom: 0;
        left: 0;
        justify-content: center;
        height: 8.5rem;
    }
    .icons{
      margin: 0 15px;
    }
}